/* ===== Universal Things ===== */
:root {
  --primary-yellow: #ffd300;
  --primary-darkYellow: #e4aa0b;
  --primary-blue: #2c3e50;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .2rem solid #ffd300;
  --border-bottom-3: .5rem solid #ffd300;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .2rem solid #40437c;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  font-family: Saira;
  background-color: var(--primary-blue); }

.title {
  padding-top: 2rem;
  text-align: center; }
  .title_header {
    font-size: var(--fs-heading-big);
    color: white; }
  .title_underheader--text {
    font-size: var(--fs-heading);
    color: white;
    border-bottom: var(--border-bottom-2); }

.background_img {
  background-image: url(/Katta-FilmSite/img/Katta.jpg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  filter: grayscale(1);
  box-shadow: var(--shadow-dark-1);
  height: 100vh;
  width: 100vw;
  z-index: 2; }
