/* ===== Universal Things ===== */
:root {
  --primary-yellow: #ffd300;
  --primary-darkYellow: #e4aa0b;
  --primary-blue: #2c3e50;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .2rem solid #ffd300;
  --border-bottom-3: .5rem solid #ffd300;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .2rem solid #ffd300;
  --border-bottom-6: .2rem solid #40437c;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Saira;
  background-color: var(--primary-blue); }

.title {
  padding: 2rem 0 0rem 0;
  text-align: center; }
  .title_header {
    font-size: var(--fs-heading-big);
    color: white; }
  .title_underheader--underline {
    font-size: var(--fs-heading);
    color: white;
    border-bottom: var(--border-bottom-2); }

.background_img {
  background-image: url(/img/Katta.jpg);
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: 64.2rem;
  width: 96.3rem;
  filter: grayscale(1);
  box-shadow: var(--shadow-dark-1);
  padding-top: 3rem;
  margin: 4rem auto;
  z-index: 2; }

.spike_1 {
  margin: -1rem; }

.spike_2 {
  transform: rotate(180deg); }

.section_body {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .section_body--title {
    padding: 2.5rem 5rem;
    font-size: var(--fs-heading-big);
    color: #fff; }
  .section_body--underline {
    font-size: var(--fs-heading-big);
    color: white;
    border-bottom: var(--border-bottom-2); }
  .section_body--text {
    display: flex;
    justify-content: flex-start;
    padding: 2.5rem 5rem;
    font-size: var(--fs-text);
    color: #fff;
    text-overflow: ellipsis;
    max-width: 80rem; }
  .section_body--videowrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20rem; }
    .section_body--videowrapper-videosvg {
      height: 25rem;
      width: 50rem; }
    .section_body--videowrapper-button {
      margin-left: 10rem;
      font-size: var(--fs-text);
      cursor: pointer;
      padding: 5rem 10rem;
      border: 0.2rem solid var(--primary-yellow);
      border-radius: 5%;
      background-color: rgba(123, 3, 212, 0);
      transition: all .3s; }
      .section_body--videowrapper-button_text {
        color: #fff;
        border-bottom: var(--border-bottom-5); }
    .section_body--videowrapper-button:hover {
      transform: scale(1.3);
      border: 0.3rem solid var(--primary-yellow); }

.spike_3 {
  transform: scaleX(-1); }

.spike_4 {
  margin-top: -1rem;
  transform: scaleY(-1); }

.section_registration {
  height: 100vh; }
  .section_registration--title {
    padding: 2.5rem 5rem;
    font-size: var(--fs-heading-big);
    color: #fff; }
  .section_registration--underline {
    font-size: var(--fs-heading-big);
    color: white;
    border-bottom: var(--border-bottom-2); }
  .section_registration--text {
    display: flex;
    justify-content: flex-start;
    padding: 2.5rem 5rem;
    font-size: var(--fs-title);
    color: #fff;
    text-overflow: ellipsis;
    max-width: 80rem; }
    .section_registration--text_underline {
      margin-left: .75rem;
      color: white;
      border-bottom: var(--border-bottom-2); }
  .section_registration--inputs {
    width: 50vw;
    margin-left: 5rem; }
    .section_registration--inputs_name {
      margin-bottom: 2rem;
      display: block;
      padding: 1rem .5rem;
      font-size: var(--fs-text); }
      .section_registration--inputs_name-text {
        margin-bottom: 1rem;
        color: #fff; }
        .section_registration--inputs_name-text--underline {
          font-size: var(--fs-text);
          color: white;
          border-bottom: var(--border-bottom-4); }
    .section_registration--inputs_class {
      margin-bottom: 2rem;
      display: block;
      padding: 1rem .5rem;
      font-size: var(--fs-text); }
      .section_registration--inputs_class-text {
        margin-bottom: 1rem;
        color: #fff; }
        .section_registration--inputs_class-text--underline {
          font-size: var(--fs-text);
          color: white;
          border-bottom: var(--border-bottom-4); }
    .section_registration--inputs_email {
      margin-bottom: 2rem;
      display: block;
      padding: 1rem .5rem;
      font-size: var(--fs-text); }
      .section_registration--inputs_email-text {
        margin-bottom: 1rem;
        color: #fff; }
        .section_registration--inputs_email-text--underline {
          font-size: var(--fs-text);
          color: white;
          border-bottom: var(--border-bottom-4); }
    .section_registration--inputs_button {
      font-size: var(--fs-text);
      margin-top: 2rem;
      cursor: pointer;
      padding: 2.5rem 8rem;
      border: 0.2rem solid var(--primary-yellow);
      border-radius: 5%;
      background-color: rgba(123, 3, 212, 0);
      transition: all .3s; }
      .section_registration--inputs_button-text {
        color: #fff;
        border-bottom: var(--border-bottom-5); }
    .section_registration--inputs_button:hover {
      transform: translateY(-1rem);
      box-shadow: var(--shadow-dark-1); }
  .section_registration--registrationwrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 40rem; }
    .section_registration--registrationwrapper-regisvg {
      height: 40rem;
      width: 50rem; }
