/* ===== Universal Things ===== */
:root {
  --primary-yellow: #ffd300;
  --primary-darkYellow: #e4aa0b;
  --primary-blue: #2c3e50;
  --primary-green: #009432;
  --primary-red: #EA2027;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .2rem solid #ffd300;
  --border-bottom-3: .5rem solid #ffd300;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .2rem solid #ffd300;
  --border-bottom-6: .2rem solid #40437c;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text-big: 2rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Saira;
  background-color: var(--primary-blue); }

.title {
  padding: 2rem 0 0rem 0;
  text-align: center; }
  .title_header {
    font-size: var(--fs-heading-big);
    color: white; }
    @media screen and (max-width: 23.75em) {
      .title_header {
        text-align: center;
        font-size: 8rem; } }
    @media screen and (max-width: 440px) {
      .title_header {
        text-align: center;
        font-size: 6rem; } }
    @media screen and (max-width: 37.5em) {
      .title_header {
        text-align: center;
        font-size: 7rem; } }
    @media screen and (max-width: 56.25em) {
      .title_header {
        text-align: center;
        font-size: 8rem; } }
  .title_underheader {
    text-decoration: none; }
    .title_underheader--underline {
      font-size: var(--fs-heading);
      color: white;
      border-bottom: var(--border-bottom-2);
      text-align: center; }
      @media screen and (max-width: 23.75em) {
        .title_underheader--underline {
          text-align: center;
          font-size: 6rem;
          border-bottom: var(--border-bottom-3); } }
      @media screen and (max-width: 440px) {
        .title_underheader--underline {
          text-align: center;
          font-size: 5rem; } }
      @media screen and (max-width: 56.25em) {
        .title_underheader--underline {
          text-align: center;
          font-size: 6rem; } }
  @media screen and (max-width: 56.25em) {
    .title {
      height: 100vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 23.75em) {
    .title {
      font-size: var(--fs-heading-big); } }

.background_img {
  background-image: url(../img/Katta.jpg);
  background-repeat: no-repeat;
  height: 64.2rem;
  width: 96.3rem;
  filter: grayscale(1);
  box-shadow: var(--shadow-dark-1);
  padding-top: 3rem;
  margin: 4rem auto;
  z-index: 2; }
  @media screen and (max-width: 56.25em) {
    .background_img {
      background-image: none;
      box-shadow: none; } }

.spike_1 {
  margin-bottom: -1rem;
  width: 100vw; }

.spike_2 {
  transform: rotate(180deg);
  width: 100vw; }

.section_body {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  @media screen and (min-width: 75em) {
    .section_body {
      height: 130vh; } }
  @media screen and (min-width: 68.75em) {
    .section_body {
      height: 125vh; } }
  @media screen and (max-width: 56.25em) {
    .section_body {
      height: 125vh; } }
  @media screen and (max-width: 800px) {
    .section_body {
      height: 120vh; } }
  @media screen and (max-width: 37.5em) {
    .section_body {
      height: 80vh; } }
  @media screen and (max-width: 440px) {
    .section_body {
      height: 82.5vh; } }
  @media screen and (max-width: 23.75em) {
    .section_body {
      height: 100vh; } }
  .section_body--title {
    padding: 2.5rem 5rem;
    font-size: var(--fs-heading-big);
    color: #fff; }
    @media screen and (max-width: 56.25em) {
      .section_body--title {
        font-size: 5rem;
        text-align: center; } }
    @media screen and (max-width: 780px) {
      .section_body--title {
        font-size: 5.5rem;
        text-align: center; } }
    @media screen and (max-width: 440px) {
      .section_body--title {
        font-size: 5.5rem;
        text-align: center; } }
    @media screen and (max-width: 23.75em) {
      .section_body--title {
        font-size: 5.5rem;
        text-align: center; } }
  .section_body--underline {
    font-size: var(--fs-heading-big);
    color: white;
    border-bottom: var(--border-bottom-2); }
    @media screen and (max-width: 56.25em) {
      .section_body--underline {
        font-size: 4.5rem;
        text-align: center; } }
    @media screen and (max-width: 780px) {
      .section_body--underline {
        font-size: 5rem;
        text-align: center; } }
    @media screen and (max-width: 440px) {
      .section_body--underline {
        font-size: 5rem;
        text-align: center; } }
    @media screen and (max-width: 23.75em) {
      .section_body--underline {
        font-size: 5rem;
        text-align: center; } }
  .section_body--text {
    justify-content: flex-start;
    padding: 2.5rem 5rem;
    font-size: var(--fs-text-big);
    color: #fff;
    text-overflow: ellipsis;
    max-width: 82rem; }
    @media screen and (max-width: 56.25em) {
      .section_body--text {
        font-size: 2rem;
        max-width: none;
        text-align: center; } }
    @media screen and (max-width: 780px) {
      .section_body--text {
        font-size: 2rem;
        max-width: none;
        text-align: center; } }
    @media screen and (max-width: 37.5em) {
      .section_body--text {
        font-size: 3rem;
        max-width: none;
        text-align: center; } }
    @media screen and (max-width: 440px) {
      .section_body--text {
        font-size: 3rem;
        max-width: none;
        text-align: center; } }
    .section_body--text_underline {
      border-bottom: var(--border-bottom-2);
      text-decoration: none;
      color: #fff; }
  .section_body--frist {
    padding: 2.5rem 5rem;
    color: #fff;
    font-size: var(--fs-heading); }
    .section_body--frist_underline {
      font-size: var(--fs-heading);
      border-bottom: var(--border-bottom-2); }
      @media screen and (max-width: 56.25em) {
        .section_body--frist_underline {
          text-align: center;
          font-size: var(--fs-heading-big); } }
      @media screen and (max-width: 780px) {
        .section_body--frist_underline {
          text-align: center;
          font-size: var(--fs-heading-big); } }
      @media screen and (max-width: 37.5em) {
        .section_body--frist_underline {
          text-align: center;
          font-size: var(--fs-heading-big); } }
      @media screen and (max-width: 440px) {
        .section_body--frist_underline {
          text-align: center;
          font-size: var(--fs-heading-big); } }
      @media screen and (max-width: 23.75em) {
        .section_body--frist_underline {
          text-align: center;
          font-size: 5rem; } }
    @media screen and (max-width: 56.25em) {
      .section_body--frist {
        text-align: center;
        font-size: 5rem; } }
    @media screen and (max-width: 37.5em) {
      .section_body--frist {
        text-align: center;
        font-size: 5rem; } }
    @media screen and (max-width: 440px) {
      .section_body--frist {
        text-align: center;
        font-size: 5rem; } }
    @media screen and (max-width: 23.75em) {
      .section_body--frist {
        text-align: center;
        font-size: 5rem; } }
  .section_body--videowrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20rem; }
    .section_body--videowrapper-videosvg {
      height: 25rem;
      width: 50rem; }
      @media screen and (max-width: 780px) {
        .section_body--videowrapper-videosvg {
          display: none; } }
      @media screen and (max-width: 440px) {
        .section_body--videowrapper-videosvg {
          display: none; } }
      @media screen and (max-width: 23.75em) {
        .section_body--videowrapper-videosvg {
          display: none; } }
    .section_body--videowrapper-button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      margin-left: 5rem;
      font-size: var(--fs-text-big);
      cursor: pointer;
      padding: 5rem 10rem;
      border: 0.2rem solid var(--primary-yellow);
      border-radius: 5%;
      background-color: rgba(123, 3, 212, 0);
      color: #fff;
      transition: all .3s; }
      .section_body--videowrapper-button_text {
        color: #fff;
        border-bottom: var(--border-bottom-5);
        text-decoration: none;
        list-style-type: none; }
        @media screen and (max-width: 56.25em) {
          .section_body--videowrapper-button_text {
            border-bottom: var(--border-bottom-2); } }
        @media screen and (max-width: 440px) {
          .section_body--videowrapper-button_text {
            border-bottom: var(--border-bottom-3); } }
        @media screen and (max-width: 23.75em) {
          .section_body--videowrapper-button_text {
            border-bottom: var(--border-bottom-3); } }
        .section_body--videowrapper-button_text--link {
          color: #fff;
          text-decoration: none;
          list-style-type: none;
          font-family: 'Saira'; }
      @media screen and (max-width: 56.25em) {
        .section_body--videowrapper-button {
          font-size: 3rem;
          margin-left: 0rem;
          border: 0.6rem solid var(--primary-yellow); } }
      @media screen and (max-width: 440px) {
        .section_body--videowrapper-button {
          font-size: 5rem;
          margin-left: 0rem;
          border: 0.6rem solid var(--primary-yellow); } }
      @media screen and (max-width: 23.75em) {
        .section_body--videowrapper-button {
          font-size: 5rem;
          margin-left: 0rem;
          border: 0.6rem solid var(--primary-yellow); } }
    @media screen and (max-width: 56.25em) {
      .section_body--videowrapper {
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        margin-right: 0rem; } }
    @media screen and (max-width: 440px) {
      .section_body--videowrapper {
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-right: 0rem; } }
    @media screen and (max-width: 23.75em) {
      .section_body--videowrapper {
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-right: 0rem; } }
    .section_body--videowrapper-button:hover {
      transform: translateY(-3rem);
      box-shadow: var(--shadow-dark-1); }

.spike_3 {
  transform: scaleX(-1);
  width: 100vw; }

.spike_4 {
  margin-top: -1rem;
  transform: scaleY(-1);
  width: 100vw; }

.section_registration {
  height: 50vh;
  background-image: linear-gradient(to bottom, #2c3e50, #46698d);
  height: 100%;
  padding: 2.5rem 5rem; }
  .section_registration--title {
    padding-bottom: 2.5rem;
    font-size: var(--fs-heading-big);
    color: #fff; }
    @media screen and (max-width: 56.25em) {
      .section_registration--title {
        font-size: 2rem; } }
    @media screen and (max-width: 37.5em) {
      .section_registration--title {
        font-size: 3rem; } }
    @media screen and (max-width: 440px) {
      .section_registration--title {
        font-size: 3.5rem; } }
    @media screen and (max-width: 23.75em) {
      .section_registration--title {
        font-size: 5rem; } }
  .section_registration--underline {
    font-size: var(--fs-heading-big);
    color: white;
    border-bottom: var(--border-bottom-2); }
  .section_registration--text {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2.5rem;
    font-size: var(--fs-title);
    color: #fff;
    text-overflow: ellipsis;
    max-width: 80rem; }
    .section_registration--text_underline {
      margin-left: .75rem;
      color: white;
      border-bottom: var(--border-bottom-2); }
  .section_registration--registrationwrapper {
    display: flex;
    justify-content: center; }
    .section_registration--registrationwrapper-regisvg {
      height: 40rem;
      width: 50rem; }

.footer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #2c3e50, #46698d); }
  .footer_namewrapper {
    font-size: var(--fs-text); }
    .footer_namewrapper--name {
      font-size: var(--fs-heading);
      text-decoration: none;
      text-align: center;
      list-style-type: none;
      color: #fff; }
      .footer_namewrapper--name-underline {
        text-decoration: none;
        list-style-type: none;
        color: white;
        border-bottom: var(--border-bottom-2); }
    .footer_namewrapper--contact {
      font-weight: 300;
      text-align: center;
      color: #fff;
      font-size: var(--fs-title);
      margin-top: 2rem; }
      .footer_namewrapper--contact-underline {
        text-decoration: none;
        list-style-type: none;
        color: white;
        border-bottom: var(--border-bottom-2); }
