.title {
    padding: 2rem 0 0rem 0;
    text-align: center;

    &_header {
        font-size: var(--fs-heading-big);
        color: white;
    }

    &_underheader {

        &--underline {
            font-size: var(--fs-heading);
            color: white;
            border-bottom: var(--border-bottom-2);
        }
    }
}

.background_img {
    background-image: url(/img/Katta.jpg);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    height: 64.2rem;
    width: 96.3rem;

    filter: grayscale(1);
    box-shadow: var(--shadow-dark-1);
    
    padding-top: 3rem;
    margin: 4rem auto;
    z-index: 2;
}

.spike_1 {
    margin: -1rem;  
}

.spike_2 {
    transform: rotate(180deg);
}

.section_body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &--title {
        padding: 2.5rem 5rem;
        font-size: var(--fs-heading-big);
        color: #fff;
    }

    &--underline {
        font-size: var(--fs-heading-big);
        color: white;
        border-bottom: var(--border-bottom-2);
    }

    &--text {
        display: flex;
        justify-content: flex-start;
        padding: 2.5rem 5rem;

        font-size: var(--fs-text);
        color: #fff;
        text-overflow: ellipsis;
        max-width: 80rem;
    }


    &--videowrapper {
        display: flex;
        justify-content: flex-end;
        padding-right: 20rem;

        &-videosvg {
            height: 25rem;
            width: 50rem;
        }
    }
}

.spike_3 {
    // margin-top: 10rem;
    transform: scaleX(-1);
}

.spike_4 {
    margin-top: -1rem;
    transform: scaleY(-1);
}

// .background_img {
//     background-image: url(/img/Katta.jpg);
//     background-repeat: no-repeat;
//     background-position: 50% 25%;

//     // background-position: 50% 50%;
//     // background-size: 100% 100%;

//     filter: grayscale(1);
//     box-shadow: var(--shadow-dark-1);

//     height: 100vh;
//     width: 100vw;
//     z-index: 2;

//     // &--img {
//     //     background-image: url(/Katta-FilmSite/img/Katta.jpg);
//     // }
// }